{% extends "nav_bar.html" %}

{% block content %}
{% if user.is_authenticated %}
  <form action="{% url 'gallery:upload_image' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <input id="id_image" type="file" accept="image/*" name="image" required>
    </p>
    <p>
        Descripción de imagen:
        <input id="id_name" type="text" name="name" required>
    </p>
    <input type="submit" value="Subir" />
  </form>
  {% else %}
  <p> Logeate </p>
  {% endif %}
  <p><a href="{% url 'gallery:image_gallery' %}">Ir a Galeria de imágenes</a></p>
{% endblock %}
